# Test (accident data)

In [1]:
import os
import pandas as pd

In [2]:
data_path = '../../data/'

In [3]:
df = pd.read_csv(os.path.join(data_path, 'test.csv'))

In [4]:
df.head()

,accident_id,location_easting_osgr,location_northing_osgr,longitude,latitude,number_of_vehicles,number_of_casualties,date,time,1st_road_class,...,light_conditions,weather_conditions,road_surface_conditions,special_conditions_at_site,carriageway_hazards,urban_or_rural_area,lsoa_of_accident_location,police_force,local_authority_district,local_authority_highway
0,372234,532920.0,196330.0,-0.080107,51.650061,2,3,2017-05-08,03:12,A,...,Darkness - lights lit,1,Dry,None,None,Urban,E01001450,Metropolitan Police,Enfield,Enfield
1,332946,526790.0,181970.0,-0.173845,51.522425,2,1,2017-01-01,01:30,A,...,Darkness - lights lit,1,Wet or damp,None,None,Urban,E01004702,Metropolitan Police,Westminster,Westminster
2,596385,535200.0,181260.0,-0.052969,51.514096,3,1,2017-01-01,00:30,A,...,Darkness - lights lit,1,Dry,None,None,Urban,E01004298,Metropolitan Police,Tower Hamlets,Tower Hamlets
3,493689,534340.0,193560.0,-0.060658,51.624832,2,1,2017-01-01,01:11,A,...,Darkness - lights lit,2,Wet or damp,None,None,Urban,E01001429,Metropolitan Police,Enfield,Enfield
4,420550,533680.0,187820.0,-0.072372,51.573408,1,1,2017-01-01,01:42,A,...,Darkness - lights lit,1,Wet or damp,None,None,Urban,E01001808,Metropolitan Police,Hackney,Hackney

In [5]:
df.shape

(129950, 29)

In [6]:
'Number of accidents in the test set: {:,}'.format(df.shape[0])

'Number of accidents in the test set: 129,950'