# Test final model

In [1]:
import os
import pandas as pd
import numpy as np
import pickle

In [2]:
data_path = '../../data/'

In [3]:
df_test = pd.read_csv(os.path.join(data_path, 'test.csv'))

In [4]:
df_test.head()

,accident_id,location_easting_osgr,location_northing_osgr,longitude,latitude,number_of_vehicles,number_of_casualties,date,time,1st_road_class,...,light_conditions,weather_conditions,road_surface_conditions,special_conditions_at_site,carriageway_hazards,urban_or_rural_area,lsoa_of_accident_location,police_force,local_authority_district,local_authority_highway
0,372234,532920.0,196330.0,-0.080107,51.650061,2,3,2017-05-08,03:12,A,...,Darkness - lights lit,1,Dry,None,None,Urban,E01001450,Metropolitan Police,Enfield,Enfield
1,332946,526790.0,181970.0,-0.173845,51.522425,2,1,2017-01-01,01:30,A,...,Darkness - lights lit,1,Wet or damp,None,None,Urban,E01004702,Metropolitan Police,Westminster,Westminster
2,596385,535200.0,181260.0,-0.052969,51.514096,3,1,2017-01-01,00:30,A,...,Darkness - lights lit,1,Dry,None,None,Urban,E01004298,Metropolitan Police,Tower Hamlets,Tower Hamlets
3,493689,534340.0,193560.0,-0.060658,51.624832,2,1,2017-01-01,01:11,A,...,Darkness - lights lit,2,Wet or damp,None,None,Urban,E01001429,Metropolitan Police,Enfield,Enfield
4,420550,533680.0,187820.0,-0.072372,51.573408,1,1,2017-01-01,01:42,A,...,Darkness - lights lit,1,Wet or damp,None,None,Urban,E01001808,Metropolitan Police,Hackney,Hackney

In [5]:
df_test.shape

(129950, 29)

In [6]:
'Number of accidents in the test set: {:,}'.format(df_test.shape[0])

'Number of accidents in the test set: 129,950'

In [7]:
df_vehicles = pd.read_csv(os.path.join(data_path, 'grouped_vehicles.csv'))

In [8]:
df_vehicles.shape

(244091, 14)

In [9]:
df_vehicles.head()

,accident_id,Junction_Location,Age_of_Vehicle,Vehicle_Type,Vehicle_Location-Restricted_Lane,Skidding_and_Overturning,Hit_Object_in_Carriageway,Vehicle_Reference,1st_Point_of_Impact,Towing_and_Articulation,Vehicle_Leaving_Carriageway,Age_of_Driver,Hit_Object_off_Carriageway,Vehicle_Manoeuvre
0,300000,NaN,23.0,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,19.0,NaN,NaN
1,300001,NaN,-2.0,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,40.0,NaN,NaN
2,300002,NaN,21.0,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,111.0,NaN,NaN
3,300003,NaN,9.0,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,17.0,NaN,NaN
4,300004,NaN,1.0,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,68.0,NaN,NaN

In [10]:
df_vehicles.columns

Index(['accident_id', 'Junction_Location', 'Age_of_Vehicle', 'Vehicle_Type',
       'Vehicle_Location-Restricted_Lane', 'Skidding_and_Overturning',
       'Hit_Object_in_Carriageway', 'Vehicle_Reference', '1st_Point_of_Impact',
       'Towing_and_Articulation', 'Vehicle_Leaving_Carriageway',
       'Age_of_Driver', 'Hit_Object_off_Carriageway', 'Vehicle_Manoeuvre'],
      dtype='object')

In [11]:
df_merged = pd.merge(df_test, df_vehicles, on='accident_id', how='left')

In [12]:
df_merged.head()

,accident_id,location_easting_osgr,location_northing_osgr,longitude,latitude,number_of_vehicles,number_of_casualties,date,time,1st_road_class,...,Vehicle_Location-Restricted_Lane,Skidding_and_Overturning,Hit_Object_in_Carriageway,Vehicle_Reference,1st_Point_of_Impact,Towing_and_Articulation,Vehicle_Leaving_Carriageway,Age_of_Driver,Hit_Object_off_Carriageway,Vehicle_Manoeuvre
0,372234,532920.0,196330.0,-0.080107,51.650061,2,3,2017-05-08,03:12,A,...,NaN,NaN,NaN,2.0,NaN,NaN,NaN,43.0,NaN,NaN
1,332946,526790.0,181970.0,-0.173845,51.522425,2,1,2017-01-01,01:30,A,...,NaN,NaN,NaN,2.0,NaN,NaN,NaN,73.0,NaN,NaN
2,596385,535200.0,181260.0,-0.052969,51.514096,3,1,2017-01-01,00:30,A,...,NaN,NaN,NaN,3.0,NaN,NaN,NaN,65.0,NaN,NaN
3,493689,534340.0,193560.0,-0.060658,51.624832,2,1,2017-01-01,01:11,A,...,NaN,NaN,NaN,2.0,NaN,NaN,NaN,66.0,NaN,NaN
4,420550,533680.0,187820.0,-0.072372,51.573408,1,1,2017-01-01,01:42,A,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,78.0,NaN,NaN

In [13]:
df_merged.shape

(129950, 42)

In [14]:
df_merged['date'] = pd.to_datetime(df_merged['date'])

In [15]:
df_merged['day_of_week'] = df_merged['date'].dt.dayofweek

In [16]:
df_merged['month'] = df_merged['date'].dt.month

In [17]:
df_merged['time'] = pd.to_datetime(df_merged['time'], format='%H:%M')

In [18]:
df_merged['hour'] = df_merged['time'].dt.hour

In [19]:
numeric_columns = [
    'number_of_vehicles',
    'number_of_casualties',
    'speed_limit',
    # vehicles
    # 'Vehicle_Reference',
    'Age_of_Driver',
    'Age_of_Vehicle'
]

In [20]:
category_columns = [
    'road_type',
    '1st_road_class',
    '2nd_road_class',
    'urban_or_rural_area',
    'junction_detail',
    'junction_control',
    'pedestrian_crossing-human_control',
    'pedestrian_crossing-physical_facilities',
    'light_conditions',
    'weather_conditions',
    'road_surface_conditions',
    'special_conditions_at_site',
    'carriageway_hazards',
    # own pre-computed features
    'day_of_week',
    'month',
    'hour',
    # from vehicles
    'Vehicle_Type',
    'Towing_and_Articulation',
    'Vehicle_Manoeuvre',
    'Vehicle_Location-Restricted_Lane',
    'Junction_Location',
    'Skidding_and_Overturning',
    'Hit_Object_in_Carriageway',
    'Vehicle_Leaving_Carriageway',
    'Hit_Object_off_Carriageway',
    '1st_Point_of_Impact',
]

In [21]:
df_features = pd.DataFrame()

In [22]:
accident_ids = df_merged['accident_id']

In [23]:
# Numeric
for col_name in numeric_columns:
    
    print('Number: {}'.format(col_name))
    
    df_features[col_name] = df_merged[col_name]

Number: number_of_vehicles
Number: number_of_casualties
Number: speed_limit
Number: Age_of_Driver
Number: Age_of_Vehicle

In [24]:
# Categories
for col_name in category_columns:
    
    print('Category: {}'.format(col_name))
    # keys = set(df[col_name].unique())
    # print(keys)
        
    ## One-hot encoding
        
    # Categories
    df_categories = pd.get_dummies(df_merged[col_name], prefix=col_name)

    # Append to features
    df_features = pd.concat([df_features, df_categories], axis=1)

Category: road_type
Category: 1st_road_class
Category: 2nd_road_class
Category: urban_or_rural_area
Category: junction_detail
Category: junction_control
Category: pedestrian_crossing-human_control
Category: pedestrian_crossing-physical_facilities
Category: light_conditions
Category: weather_conditions
Category: road_surface_conditions
Category: special_conditions_at_site
Category: carriageway_hazards
Category: day_of_week
Category: month
Category: hour
Category: Vehicle_Type
Category: Towing_and_Articulation
Category: Vehicle_Manoeuvre
Category: Vehicle_Location-Restricted_Lane
Category: Junction_Location
Category: Skidding_and_Overturning
Category: Hit_Object_in_Carriageway
Category: Vehicle_Leaving_Carriageway
Category: Hit_Object_off_Carriageway
Category: 1st_Point_of_Impact

In [25]:
df_features.head()

,number_of_vehicles,number_of_casualties,speed_limit,Age_of_Driver,Age_of_Vehicle,road_type_1,road_type_2,road_type_3,road_type_4,road_type_5,...,hour_14,hour_15,hour_16,hour_17,hour_18,hour_19,hour_20,hour_21,hour_22,hour_23
0,2,3,30.0,43.0,0.0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,2,1,30.0,73.0,20.0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,3,1,30.0,65.0,22.0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,2,1,30.0,66.0,15.0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,1,20.0,78.0,14.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [26]:
df_features.iloc[0, :]

number_of_vehicles                  2.0
number_of_casualties                3.0
speed_limit                        30.0
Age_of_Driver                      43.0
Age_of_Vehicle                      0.0
road_type_1                         0.0
road_type_2                         0.0
road_type_3                         0.0
road_type_4                         1.0
road_type_5                         0.0
road_type_6                         0.0
1st_road_class_A                    1.0
1st_road_class_A(M)                 0.0
1st_road_class_B                    0.0
1st_road_class_C                    0.0
1st_road_class_Motorway             0.0
1st_road_class_Unclassified         0.0
2nd_road_class_-1                   1.0
2nd_road_class_A                    0.0
2nd_road_class_A(M)                 0.0
2nd_road_class_B                    0.0
2nd_road_class_C                    0.0
2nd_road_class_Motorway             0.0
2nd_road_class_Unclassified         0.0
urban_or_rural_area_Rural           0.0
urban_or_rural_area_Unallocated     0.0
urban_or_rural_area_Urban           1.0
junction_detail_-1                  0.0
junction_detail_Crossroads          0.0
junction_detail_Mini-roundabout     0.0
                                   ...
month_7                             0.0
month_8                             0.0
month_9                             0.0
month_10                            0.0
month_11                            0.0
month_12                            0.0
hour_0                              0.0
hour_1                              0.0
hour_2                              0.0
hour_3                              1.0
hour_4                              0.0
hour_5                              0.0
hour_6                              0.0
hour_7                              0.0
hour_8                              0.0
hour_9                              0.0
hour_10                             0.0
hour_11                             0.0
hour_12                             0.0
hour_13                             0.0
hour_14                             0.0
hour_15                             0.0
hour_16                             0.0
hour_17                             0.0
hour_18                             0.0
hour_19                             0.0
hour_20                             0.0
hour_21                             0.0
hour_22                             0.0
hour_23                             0.0
Name: 0, Length: 134, dtype: float64

In [27]:
len(list(df_features.columns))

134

### Load data

In [28]:
with open('../../data/training_columns.txt') as f:
    training_columns = f.read().split(';')

In [29]:
len(training_columns)

135

In [30]:
training_columns

['number_of_vehicles',
 'number_of_casualties',
 'speed_limit',
 'Age_of_Driver',
 'Age_of_Vehicle',
 'road_type_1',
 'road_type_2',
 'road_type_3',
 'road_type_4',
 'road_type_5',
 'road_type_6',
 '1st_road_class_A',
 '1st_road_class_A(M)',
 '1st_road_class_B',
 '1st_road_class_C',
 '1st_road_class_Motorway',
 '1st_road_class_Unclassified',
 '2nd_road_class_-1',
 '2nd_road_class_A',
 '2nd_road_class_A(M)',
 '2nd_road_class_B',
 '2nd_road_class_C',
 '2nd_road_class_Motorway',
 '2nd_road_class_Unclassified',
 'urban_or_rural_area_Rural',
 'urban_or_rural_area_Urban',
 'junction_detail_-1',
 'junction_detail_Crossroads',
 'junction_detail_Mini-roundabout',
 'junction_detail_More than 4 arms (not roundabout)',
 'junction_detail_Not at junction or within 20 metres',
 'junction_detail_Other junction',
 'junction_detail_Private drive or entrance',
 'junction_detail_Roundabout',
 'junction_detail_Slip road',
 'junction_detail_T or staggered junction',
 'junction_control_-1',
 'junction_control_Authorised person',
 'junction_control_Auto traffic signal',
 'junction_control_Give way or uncontrolled',
 'junction_control_Not at junction or within 20 metres',
 'junction_control_Stop sign',
 'pedestrian_crossing-human_control_-1',
 'pedestrian_crossing-human_control_Control by other authorised person',
 'pedestrian_crossing-human_control_Control by school crossing patrol',
 'pedestrian_crossing-human_control_None within 50 metres',
 'pedestrian_crossing-physical_facilities_-1',
 'pedestrian_crossing-physical_facilities_Central refuge',
 'pedestrian_crossing-physical_facilities_Footbridge or subway',
 'pedestrian_crossing-physical_facilities_No physical crossing facilities within 50 metres',
 'pedestrian_crossing-physical_facilities_Pedestrian phase at traffic signal junction',
 'pedestrian_crossing-physical_facilities_Pelican, puffin, toucan or similar non-junction pedestrian light crossing',
 'pedestrian_crossing-physical_facilities_Zebra',
 'light_conditions_-1',
 'light_conditions_Darkness - lighting unknown',
 'light_conditions_Darkness - lights lit',
 'light_conditions_Darkness - lights unlit',
 'light_conditions_Darkness - no lighting',
 'light_conditions_Daylight',
 'weather_conditions_-1',
 'weather_conditions_1',
 'weather_conditions_2',
 'weather_conditions_3',
 'weather_conditions_4',
 'weather_conditions_5',
 'weather_conditions_6',
 'weather_conditions_7',
 'weather_conditions_8',
 'weather_conditions_9',
 'road_surface_conditions_-1',
 'road_surface_conditions_Dry',
 'road_surface_conditions_Flood over 3cm. deep',
 'road_surface_conditions_Frost or ice',
 'road_surface_conditions_Snow',
 'road_surface_conditions_Wet or damp',
 'special_conditions_at_site_-1',
 'special_conditions_at_site_Auto signal part defective',
 'special_conditions_at_site_Auto traffic signal - out',
 'special_conditions_at_site_Mud',
 'special_conditions_at_site_None',
 'special_conditions_at_site_Oil or diesel',
 'special_conditions_at_site_Road sign or marking defective or obscured',
 'special_conditions_at_site_Road surface defective',
 'special_conditions_at_site_Roadworks',
 'carriageway_hazards_-1',
 'carriageway_hazards_Any animal in carriageway (except ridden horse)',
 'carriageway_hazards_None',
 'carriageway_hazards_Other object on road',
 'carriageway_hazards_Pedestrian in carriageway - not injured',
 'carriageway_hazards_Previous accident',
 'carriageway_hazards_Vehicle load on road',
 'day_of_week_0',
 'day_of_week_1',
 'day_of_week_2',
 'day_of_week_3',
 'day_of_week_4',
 'day_of_week_5',
 'day_of_week_6',
 'month_1',
 'month_2',
 'month_3',
 'month_4',
 'month_5',
 'month_6',
 'month_7',
 'month_8',
 'month_9',
 'month_10',
 'month_11',
 'month_12',
 'hour_0',
 'hour_1',
 'hour_2',
 'hour_3',
 'hour_4',
 'hour_5',
 'hour_6',
 'hour_7',
 'hour_8',
 'hour_9',
 'hour_10',
 'hour_11',
 'hour_12',
 'hour_13',
 'hour_14',
 'hour_15',
 'hour_16',
 'hour_17',
 'hour_18',
 'hour_19',
 'hour_20',
 'hour_21',
 'hour_22',
 'hour_23',
 'target']

In [31]:
training_columns.remove('target')

In [32]:
len(training_columns)

134

In [35]:
df_features = df_features[training_columns]

In [34]:
df_features['junction_control_Not at junction or within 20 metres'] = 0

In [36]:
df_features = df_features.fillna(0)

In [37]:
X_test = np.array(df_features)

### Load model

In [38]:
filename = '../../models/finalized_model.sav'
loaded_model = pickle.load(open(filename, 'rb'))

In [39]:
results = loaded_model.predict(X_test)

In [40]:
df_results = pd.DataFrame()
df_results['accident_id'] = accident_ids
df_results['result'] = results

In [43]:
float(sum(results)) / len(results)

0.020115429011158138

In [44]:
with open('../../models/submission.csv', 'w') as f:
    f.write(df_results.to_csv(index=False))